# Checkpoint Three: Cleaning Data

Now you are ready to clean your data. Before starting coding, provide the link to your dataset below.

My dataset:

Import the necessary libraries and create your dataframe(s).

In [1]:
import pandas as pd 
import numpy as np
df = pd.read_csv('/Users/bridgetjames/Documents/LaunchCode/Final Graded Assignment/IMDB Movies 2000 - 2020.csv')

## Missing Data

Test your dataset for missing data and handle it as needed. Make notes in the form of code comments as to your thought process.

In [36]:
df.isna().sum()
# 3k+ null values in 2 language columns.
# 1356 nulls in budget column
# 1015 nulls in usa gross income column, only 288 in worldwide income column. 
# 1 null value in reviews from users column

imdb_title_id               0
title                       0
original_title              0
year                        0
date_published              0
genre                       0
duration                    0
country                     0
language_1                  4
language_2               3317
language_3               4556
director                    0
writer                      4
actors                      1
actors_1                    0
actors_f2                   0
description                 0
desc35                      0
avg_vote                    0
votes                       0
budget                   1356
usa_gross_income         1015
worlwide_gross_income     288
reviews_from_users          1
dtype: int64

In [37]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5487 entries, 0 to 5486
Data columns (total 24 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   imdb_title_id          5487 non-null   object
 1   title                  5487 non-null   object
 2   original_title         5487 non-null   object
 3   year                   5487 non-null   int64
 4   date_published         5487 non-null   object
 5   genre                  5487 non-null   object
 6   duration               5487 non-null   int64
 7   country                5487 non-null   object
 8   language_1             5483 non-null   object
 9   language_2             2170 non-null   object
 10  language_3             931 non-null    object
 11  director               5487 non-null   object
 12  writer                 5483 non-null   object
 13  actors                 5486 non-null   object
 14  actors_1               5487 non-null   object
 15  actors_f2              5487 non-null   object
 16  description            5487 non-null   object
 17  desc35                 5487 non-null   object
 18  avg_vote               5487 non-null   float64
 19  votes                  5487 non-null   int64
 20  budget                 4131 non-null   object
 21  usa_gross_income       4472 non-null   float64
 22  worlwide_gross_income  5199 non-null   object
 23  reviews_from_users     5486 non-null   float64
dtypes: float64(3), int64(3), object(18)
memory usage: 1.0+ MB

In [11]:
# Dropping the second and third language columns, there are missing data, and these columns are not necessary for my business issue.
drop_lang_df = df.drop('language_2', axis=1)
new_df = drop_lang_df.drop('language_3', axis=1)
new_df.head()

,imdb_title_id,title,original_title,year,date_published,genre,duration,country,language_1,director,...,actors_1,actors_f2,description,desc35,avg_vote,votes,budget,usa_gross_income,worlwide_gross_income,reviews_from_users
0,tt0035423,Kate & Leopold,Kate & Leopold,2001,01/03/2002,"Comedy, Fantasy, Romance",118,USA,English,James Mangold,...,Meg Ryan,"Meg Ryan, Hugh Jackman",An English Duke from 1876 is inadvertedly drag...,An English Duke from 1876 is inadvertedly,6.4,77852,48000000,47121859.0,76019048,341.0
1,tt0118589,Glitter,Glitter,2001,30/11/2001,"Drama, Music, Romance",104,USA,English,Vondie Curtis-Hall,...,Mariah Carey,"Mariah Carey, Max Beesley",A young singer dates a disc jockey who helps h...,A young singer dates a disc jockey,2.2,21298,22000000,4274407.0,5271666,319.0
2,tt0118694,In the Mood for Love,Fa yeung nin wah,2000,27/10/2000,"Drama, Romance",98,"Hong Kong, China",Cantonese,Kar-Wai Wong,...,Maggie Cheung,"Maggie Cheung, Tony Chiu-Wai Leung","Two neighbors, a woman and a man, form a stron...","Two neighbors, a woman and a man,",8.1,119171,NaN,2738980.0,12854953,422.0
3,tt0120202,"Hollywood, Vermont",State and Main,2000,31/05/2002,"Comedy, Drama",105,"France, USA",English,David Mamet,...,Michael Higgins,"Michael Higgins, Michael Bradshaw",A movie crew invades a small town whose reside...,A movie crew invades a small town,6.7,20220,NaN,6944471.0,9206279,175.0
4,tt0120263,Canzoni del secondo piano,Sånger från andra våningen,2000,06/10/2000,"Comedy, Drama",98,"Sweden, Norway, Denmark",Swedish,Roy Andersson,...,Lars Nordh,"Lars Nordh, Stefan Larsson",Where are we humans going? A film poem inspire...,Where are we humans going? A film,7.6,17188,NaN,80334.0,80334,110.0

In [15]:
# Dropping 'Budget' column, there are missing data, and this column is also not pertinent to the business issue. 
new_df = new_df.drop('budget', axis=1)
new_df.head()

,imdb_title_id,title,original_title,year,date_published,genre,duration,country,language_1,director,...,actors,actors_1,actors_f2,description,desc35,avg_vote,votes,usa_gross_income,worlwide_gross_income,reviews_from_users
0,tt0035423,Kate & Leopold,Kate & Leopold,2001,01/03/2002,"Comedy, Fantasy, Romance",118,USA,English,James Mangold,...,"Meg Ryan, Hugh Jackman, Liev Schreiber, Brecki...",Meg Ryan,"Meg Ryan, Hugh Jackman",An English Duke from 1876 is inadvertedly drag...,An English Duke from 1876 is inadvertedly,6.4,77852,47121859.0,76019048,341.0
1,tt0118589,Glitter,Glitter,2001,30/11/2001,"Drama, Music, Romance",104,USA,English,Vondie Curtis-Hall,...,"Mariah Carey, Max Beesley, Da Brat, Tia Texada...",Mariah Carey,"Mariah Carey, Max Beesley",A young singer dates a disc jockey who helps h...,A young singer dates a disc jockey,2.2,21298,4274407.0,5271666,319.0
2,tt0118694,In the Mood for Love,Fa yeung nin wah,2000,27/10/2000,"Drama, Romance",98,"Hong Kong, China",Cantonese,Kar-Wai Wong,...,"Maggie Cheung, Tony Chiu-Wai Leung, Ping Lam S...",Maggie Cheung,"Maggie Cheung, Tony Chiu-Wai Leung","Two neighbors, a woman and a man, form a stron...","Two neighbors, a woman and a man,",8.1,119171,2738980.0,12854953,422.0
3,tt0120202,"Hollywood, Vermont",State and Main,2000,31/05/2002,"Comedy, Drama",105,"France, USA",English,David Mamet,...,"Michael Higgins, Michael Bradshaw, Morris Lamo...",Michael Higgins,"Michael Higgins, Michael Bradshaw",A movie crew invades a small town whose reside...,A movie crew invades a small town,6.7,20220,6944471.0,9206279,175.0
4,tt0120263,Canzoni del secondo piano,Sånger från andra våningen,2000,06/10/2000,"Comedy, Drama",98,"Sweden, Norway, Denmark",Swedish,Roy Andersson,...,"Lars Nordh, Stefan Larsson, Bengt C.W. Carlsso...",Lars Nordh,"Lars Nordh, Stefan Larsson",Where are we humans going? A film poem inspire...,Where are we humans going? A film,7.6,17188,80334.0,80334,110.0

In [43]:
average_reviews = new_df['reviews_from_users'].mean().round(1)
print(average_reviews)
# 340.6: average number of reviews left by IMDB users per movie. 

new_df['reviews_from_users'].fillna(average_reviews, inplace=True)

new_df['reviews_from_users'].isna().sum()

340.6

/var/folders/rw/z7w4hy9s6l3bz7kns43sc2j00000gn/T/ipykernel_36834/2406327514.py:5: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  new_df['reviews_from_users'].fillna(average_reviews, inplace=True)

np.int64(0)

## Irregular Data

Detect outliers in your dataset and handle them as needed. Use code comments to make notes about your thought process.

In [44]:
# IMDB votes are on a scale of 1 to 10.
outlier = np.where((new_df['avg_vote']< 0.0) & (new_df['avg_vote'] > 10.0))
max_vote = new_df['avg_vote'].max()
print(max_vote)
min_vote = new_df['avg_vote'].min()
print(min_vote)

# No outliers in this column.

9.1
1.0

In [46]:
# Release year should be no earlier than 2000. 
year_outlier = np.where((new_df['year'] < 2000))
print(year_outlier)
min_year = new_df['year'].min()
print(min_year)

# No outliers in this column. Earliest release year is 2000.

(array([], dtype=int64),)
2000

## Unnecessary Data

Look for the different types of unnecessary data in your dataset and address it as needed. Make sure to use code comments to illustrate your thought process.

In [20]:
# Dropping Usa gross income column. There are null values in this column. The worldwide income column provides similar information and contains less null values. 
new_df.drop('usa_gross_income', axis=1)

KeyError: "['usa_gross_income'] not found in axis"

In [23]:
# Getting rid of "date published" column. I am really only concerned with the release year, since my goal is to include more recent movies in my proposed business.
new_df = new_df.drop('date_published', axis=1)

In [22]:
# Dropping one of the description columns. Desc35 is unnecessary if we have a description column that contains a full description, rather than one with a character limit. 
new_df = new_df.drop('desc35', axis=1)

## Inconsistent Data

Check for inconsistent data and address any that arises. As always, use code comments to illustrate your thought process.

In [47]:
print(new_df.dtypes)

Column data types make sense for the information each column contains.

imdb_title_id             object
original_title            object
year                       int64
genre                     object
duration                   int64
country                   object
language_1                object
director                  object
writer                    object
actors                    object
actors_1                  object
actors_f2                 object
description               object
avg_vote                 float64
votes                      int64
worlwide_gross_income     object
reviews_from_users       float64
dtype: object

## Summarize Your Results

Make note of your answers to the following questions.

1. Did you find all four types of dirty data in your dataset? No inconsistent data was found. If I had higher level skills, I would probably check the "Original_title" column to see if the language is consistent. I dropped the "title" column, which  appeared to not be in English. However, ideally, I would want to make sure the "original title" column does not contain any irregular data. Other than this potential irregularity, the dataset did not contain any irregular data. It did contain unnecessary data and missing values.
2. Did the process of cleaning your data give you new insights into your dataset? Yes. I learned how IMDB define "votes" versus "reviews." Votes are what generate an IMDB rating, and these are cast on a scale of 1 to 10. Reviews reflect the number of reviews left by users. While number of reviews left could indicate the number of views a movie got, the number of reviews cannot indicate how popular or unpopular a movie was. 
3. Is there anything you would like to make note of when it comes to manipulating the data and making visualizations? I don't think so.